[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/polypartition"]
	path = extern/polypartition
	url = https://github.com/psu-PAC-Lab/polypartition.git
